@import 'colors';

* {
  box-shadow: none !important;
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: $dark-1;
  color: white;
}

main {
  padding: 1rem;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

h2 {
  margin: 1rem 0;
  font-size: 1.5rem;
  color: color('grey', 'lighten-1');
}

h3 {
  margin: 1rem 0;
  font-size: 1.25rem;
  color: color('grey', 'base');
}

input:active, input:focus, a:active, a:hover {
  outline: 0;
}

code {
  font-family: 'Open Sans', sans-serif;
  background-color: $secondary-color;
  border-radius: 2px;
  padding: 0 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  white-space: nowrap;
}
