@import 'colors';
@import 'queries';

#board-wrapper {
  position: relative;
}

#board-overlay, #board-overlay-velocity, #board-replay {
  height: 100%; width: 100%;
  position: absolute;
}

#board-overlay {
  background-color: hsla(0, 0%, 0%, 0.3);
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
}

#board-replay {
  display: flex !important;
  justify-content: center;
  align-items: center;
  z-index: 0;
  color: hsla(0, 0%, 100%, 0.4);
  font-style: italic;
  font-size: 2em;
  @include md-width {
    font-size: 2.5em;
  }
  @include lg-width {
    font-size: 3em;
  }
}

#win-text {
  font-size: 0.60em;

  @include md-width {
    font-size: 0.70em;
  }
  @include lg-width {
    font-size: 0.75em;
  }
}

#board-status {
  @include md-width {
    width: 40%;
    font-size: 1.1em;
  }
  @include lg-width {
    font-size: 1.2em;
  }
  display: flex;
  flex-direction: column;
  width: 50%;
  border-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.25em;
  padding: 0.75em;
  background-color: hsla(0, 0%, 0%, 0.75);
  color: #fce4ec;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

#board {
  @include sm-width {
    width: 360px; height: 360px;
  }

  @include md-width {
    width: 480px; height: 480px;
  }

  @include lg-width {
    width: 600px; height: 600px;
  }

  padding: 0;
  flex-shrink: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;

  .square {
    background-color: $dark-1;
  }

  &.natural-board {
    .white-square {
      background-color: $natural-white;
    }
    .black-square {
      background-color: $natural-black;
    }
  }

  &.cool-board {
    .white-square {
      background-color: $cool-white;
    }
    .black-square {
      background-color: $cool-black;
    }
  }

  &.storm-board {
    .white-square {
      background-color: $storm-white;
    }
    .black-square {
      background-color: $storm-black;
    }
  }
}
