@import 'colors';
@import 'queries';

#chat-wrapper {
  position: relative;
  ::-webkit-scrollbar {
      width: 0.5rem;
      background: transparent;
  }
  /* optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
      background: $dark-2;
      border-radius: 2px;
  }
}

#chat {
  background-color: $dark-0;
  height: 200px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include sm-width {
    height: 120px;
  }
  @include md-width {
    height: 150px;
  }
  @include lg-width {
    height: 180px;
  }
  @include xx-width {
    margin: 109px 0 0 1rem;
    width: 400px;
    height: 600px;
  }
  @include xxx-width {
    position: absolute;
    top: 100px;
    margin: 0.5rem 1rem;
  }

  .message {
    color: color('grey', 'lighten-2');

    &.join {
      color: color("grey", 'darken-2');
    }

    &.leave {
      color: color("grey", 'darken-2');
    }
  }

  .username {
    color: color('grey', 'base');
    &.white-player {
      color: color('green', 'lighten-2');
    }
    &.black-player {
      color: color('red', 'lighten-2');
    }
  }
}

#chat-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chat-input {
  width: calc(100% - 75px);
  margin-bottom: 0;
  &:focus {
     border-bottom: 1px solid color('light-blue', 'lighten-1');
     box-shadow: 0 1px 0 0 color('light-blue', 'lighten-1');
   }
}

#chat-messages {
  height: 100%;
  word-wrap: break-word;
  overflow-y: scroll;
}
