$dark-0: hsl(0,0%,15%);
$dark-1: hsl(0,0%,18%);
$dark-2: hsl(0,0%,26%);
$dark-3: hsl(0,0%,36%);
$primary-color: color("orange", "lighten-1");
$secondary-color: color("red", "lighten-2");
$success-color: color("green", "darken-2");
$error-color: color("red", "lighten-1");
$link-color: color("light-blue", "base");
