@import "colors";
@import "functions";

#game{
  cursor: default;
  .square {
    box-sizing: border-box;
    flex: 0 0 12.5%;
    height: 12.5%;
  }

  .split.settings {
    justify-content: flex-end;
  }

  .btn.settings-btn {
    padding: 0 0.5rem;
    background-color: $dark-1;
    &:hover {
      background-color: hover($dark-1);
    }
  }

  .settings-icon {
    font-size: 2rem;
    color: $primary-color;
  }

  .player-card {
    margin: 1.5rem 0;
    background-color: $dark-2;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    .waiting {
      justify-content: center;
      font-style: italic;
    }
    .sit-btn {
      margin: -0.5rem 0;
    }
  }

  #game-settings-modal {
    max-width: 480px;
    .preview {
      float: right;
      width: 84px;
      height: 50px;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      .light, .dark {
        margin: 0.5em 0.5em 0.5em 0;
        display: inline-flex;
        flex: 1 1 50%;
      }
    }
    .cool {
      .light {
        background-color: $cool-white;
      }
      .dark {
        background-color: $cool-black;
      }
    }
    .natural {
      .light {
        background-color: $natural-white;
      }
      .dark {
        background-color: $natural-black;
      }
    }
    .candy {
      .light {
        background-color: $candy-white;
      }
      .dark {
        background-color: $candy-black;
      }
    }
  }
}
