@import "colors";
@import "functions";

#game{
  .square {
    box-sizing: border-box;
    flex: 0 0 12.5%;
    height: 12.5%;
  }

  #board {
    padding: 0;
    flex-shrink: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;

    .square {
      background-color: $dark-1;
    }

    &.natural-board {
      .white-square {
        background-color: hsl(35, 32, 58);
      }
      .black-square {
        background-color: hsl(18, 54, 46);
      }
    }

    &.cool-board {
      .white-square {
        background-color: hsl(200, 14, 54);
      }
      .black-square {
        background-color: hsl(200, 20, 36);
      }
    }

    &.candy-board {
      .white-square {
        background-color: hsl(1, 28, 64);
      }
      .black-square {
        background-color: hsl(4, 32, 48);
      }
    }
  }

  .split.settings {
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  .btn.settings-btn {
    padding: 0 0.5rem;
    background-color: $dark-1;
    &:hover {
      background-color: hover($dark-1);
    }
  }

  .settings-icon {
    font-size: 2rem;
    color: $primary-color;
  }

  #game-settings-modal {
    max-width: 480px;
  }

  #click-handler {
    padding: 0;
    flex-shrink: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    position: absolute;
    .square {
      background-color: transparent;
      z-index: 10;
    }
    .select-overlay {
      position: relative;
      width: 100%; height: 100%;
      background-color: transparent;
      z-index: 1;
      &.selected {
        background-color: #4caf50;
      }
    }
    .selected {
      border: 4px solid #32cd32;
    }
    .highlight {
      border: 4px solid #32cd32;
      opacity: 0.5;
    }
  }
}
