@import 'colors';

nav {
  #header {
    background-color: $dark-0;
    padding-left: 1rem;
    padding-right: 1rem;

    #logo {
      font-size: 2.5rem;
      color: $primary-color;
      font-family: 'Megrim', cursive;
      cursor: pointer;
    }

    .username {
      color: color('grey', 'base');
      font-weight: lighter;
      margin-right: 1rem;
    }

    a .material-icons {
      color: $primary-color;
    }
  }

  #nav-mobile {
    background-color: $dark-2;
    a {
      color: white;
    }
  }
  ul a {
    font-size: 13px;
  }
}
