@import 'colors';

nav {
  #header {
    background-color: $dark-0;
    padding-left: 1rem;
    padding-right: 1rem;

    #logo {
      font-size: 2.5rem;
      font-weight: bold;
      color: $primary-color;
      font-family: 'Megrim', sans-serif;
      cursor: pointer;
    }

    a .material-icons {
      color: $primary-color;
    }
  }

  #nav-mobile {
    background-color: $dark-2;
    a {
      color: white;
    }
  }

}
