@import 'queries';
@import 'colors';

#online-stats {
  margin-left: auto;
  padding-top: 0; padding-bottom: 0;
  width: 200px;
  background-color: $dark-0;
}

#index-wrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-around;
  .secondary-content {
    display: none;
    @include xl-width {
      display: block;
    }
    @include xx-width {
      display: block;
      position: absolute;
      right: 1rem;
    }
  }
}

#game-index {
  #game-list {
    a {
      color: white;
    }
  }

  .game-name {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #filter-btn {
    margin-left: 0.5rem;
  }
}
