@import 'queries';
@import 'colors';

#online-stats {
  margin-left: auto;
  padding-top: 0; padding-bottom: 0;
  width: 200px;
  background-color: $dark-0;
}

#index-wrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-around;
  .secondary-content {
    display: none;
    @include xl-width {
      display: block;
    }
    @include xx-width {
      display: block;
      position: absolute;
      right: 1rem;
    }
  }
}

#game-index {
  #game-list {
    a {
      color: white;
    }
  }

  .name-col {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .count-col {
    text-align: right;
    @include lg-width {
      text-align: center;
    }
  }

  .status-col {
    text-align: left;
    @include lg-width {
      text-align: center;
    }
  }

  .time-col {
    white-space: nowrap;
  }

  #index-controls {
    white-space: nowrap;
    a {
      margin-right: 0.5rem;
    }
    #filter-btn {
      margin-right: 0;
    }
  }
}
