@import 'functions';
@import './util/material_color';
@import 'colors';
@import 'materialize';
@import 'header';
@import 'index';
@import 'game';
@import 'pieces';
@import 'board';
@import 'click';
@import 'errors';
@import 'forms';
@import 'replay';
@import 'users';
@import 'about';
@import 'base';
@import 'onboard';

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.primary-content {
  max-width: 768px;
  width: 100%;
}

.split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.clickable {
  cursor: pointer;
  &:hover {
    background-color: hover($dark-2);
  }
}

.card-panel {
  background-color: $dark-2;
  display: block;
  color: white;
}

.btn.btn-flat {
  color: $primary-color;
  padding: 0 0.5rem;
  background-color: transparent;
  &:hover {
    background-color: hover($dark-1);
  }
  & > i {
    font-size: 2rem;
  }
}

// CSS CONTROLS

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.paused{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    animation-play-state: paused;
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

// BASE COLOR CLASSES
.btn-success {
  background-color: $success-color;
  &:hover {
    background-color: hover($success-color);
  }
}

.btn-warning {
  background-color: $error-color;
  &:hover {
    background-color: hover($error-color);
  }
}

.toast {
  background-color: black;
}

.success-color {
  color: $success-color;
}

.success-text {
  color: $success-color;
}

.error-text {
  color: $error-color;
}

.error-color {
  background-color: $error-color;
}

.primary-text {
  color: $primary-color;
}

.primary-color {
  background-color: $primary-color;
}

.secondary-text {
  color: $secondary-color;
}

.secondary-color {
  background-color: $secondary-color;
}
