#pieces {
  position: relative;
  .piece {
    background-color: transparent;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    z-index: 2;
  }
  .white-piece {
    color: #f5f5f5;
  }
  .black-piece {
    color: #222222;
  }
}
