@import 'colors';

@font-face {
  font-family: 'cheq';
  src: url('/cheq.ttf');
}

#pieces {
  position: relative;
  .piece-wrapper {
    background-color: transparent;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  .piece {
    font-family: 'cheq', Arial;
    position: relative;
    z-index: 5;
  }
  .white-piece {
    color: #f5f5f5;
  }
  .black-piece {
    color: #222222;
  }

  .timer {
    background-color: red;
    position: absolute;
    top: 0;
    transform: rotate(180deg);
    z-index: 1;
    opacity: 0.3;
  }
}
